*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: rgb(224, 224, 224);
}
/* HEADER */
header{
    width: 100%;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(191, 191, 191);
    background-color: #fff;
}

.container-header{
    width: 70%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.container-child{
    display: flex;
    align-items: center;
}
.icon{
    padding: 0 10px;
    width: 37.5px;
    height: 37.5px;
}
.description{
    font-size: 26px;
}
/* MAIN */
main{
    width: 85%;
    height: 800px;
   
    margin: 30px auto;
    
    /* margin: 20px 100px; */
}
.search__bar__container{
    display: flex;
    justify-content: space-between;
    padding: 30px 125px;
}
.search__bar{
    position: relative;
}
.search__bar input {
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 45px;
    margin-left: 4px;
}
input:focus{
    border: 1px solid rgb(159, 159, 159);
}
.search__bar .icon{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px; 
}


select {
    padding: 8px;
    font-size: 16px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    outline: none;
    transition: border-color 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
}


option {
    background-color: #fff;
}

option:focus {
    background-color: #f0f0f0;
}
.country__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 20px; 
    margin-top: 62.5px;
}

.country__list__item {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 270px;
    height: 260px;
}
li{
    list-style: none;
}
.country-name{
    text-align: center;
    font-weight: bold;
}
/* FOOTER */
/* PAGINATION */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 40px;
  }
  
  .pagination button {
    margin: 25px 10px;
    padding: 7px 12px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #cdcccc;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: #fff;
  }
  