*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(191, 191, 191);
}
/* HEADER */
.container-header{
    width: 70%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.container-child{
    display: flex;
    align-items: center;
}
.icon{
    padding: 0 10px;
    width: 37.5px;
    height: 37.5px;
}
.description{
    font-size: 26px;
}
/* MAIN */
.search__bar__container{
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
}
.search__bar input {
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 40px;
}
input:focus{
    border: 1px solid rgb(159, 159, 159);
}
.search__bar .icon{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 240px;
    top: 190px;
}


select {
    padding: 8px;
    font-size: 16px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    outline: none;
    transition: border-color 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
}


option {
    background-color: #fff;
}

option:focus {
    background-color: #f0f0f0;
}
